In [1]:
import pandas as pd
import numpy as np
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

plotly.tools.set_credentials_file(username='sergiorgiraldo', api_key='tV59IRMOvDbx7wTMvsGz')

###  Reading, Writing, and Creating data
Pandas let you use your data from multiple formats like CSV, EXCEL, JSON etc.

You can use the data file on your local system or from an external URL.

**Create data**

DataFrame is the most commonly used data-structure of Pandas, it's a 2-dimensional table like structure that can hold columns of multiple data-types.

In [2]:
subjects = ['Mathematics', 'English', 'History', 'Science', 'Arts', 'Chemistry']
marks = [67, 60, 36, 61, 58, 79]

Using the Python's **zip** function, we can merge these two **list** sequences into one.

In [3]:
marks_dataset = zip(subjects, marks)
marks_dataset

In [4]:
marks_df = pd.DataFrame(list(marks_dataset), columns=['Subjects', 'Marks'])
marks_df

      Subjects  Marks
0  Mathematics     67
1      English     60
2      History     36
3      Science     61
4         Arts     58
5    Chemistry     79

The **columns** argument list represents the labels of the respective columns.

**Marks Distribution**

The following bar chart represents the marks distribution per subject.

In [5]:

marks_data = [go.Bar(x=marks_df.Subjects, y=marks_df.Marks)]

py.iplot({ 'data': marks_data,
            'layout': {
               'title': 'Marks Distribution',
               'xaxis': {
                 'title': 'Subjects'},
               'yaxis': {
                'title': 'Marks '}
        }})

Add a new column 'Result' using **numpy.where**, set it as 'Pass' if **marks>=40** else 'Fail'.

In [6]:
marks_df['Result'] = np.where(marks_df['Marks']>=40, 'Pass', 'Fail')
marks_df

      Subjects  Marks Result
0  Mathematics     67   Pass
1      English     60   Pass
2      History     36   Fail
3      Science     61   Pass
4         Arts     58   Pass
5    Chemistry     79   Pass

To delete a column (say 'Result'), we can use **`marks_df.pop('Result')`**.

**Write data**

We can write the **DataFrame** object to different file types.

In [7]:
# save the marks dataframe to a csv(comma-separated values) file in your directory
marks_df.to_csv('marks.csv', index=False)

The argument **index=False** is to prevent writing the index for each row (0...4) in file.

**Read data**

Here, we will be using the [YouTube Channel Dataset.](https://gist.github.com/pravj/9ae9e67d10668c60545e2b858753415c)

**Note:- Some of the "Views" and "Comments" columns have missing values, represented as -1.**

In [8]:
#file from https://gist.github.com/pravj/9ae9e67d10668c60545e2b858753415c
channels_df = pd.read_csv('yt-channels.csv')

### Selecting and Filtering dataframes
You can use the describe mehod to show statistics of dataset.

In [30]:
channels_df.describe()

            Views    Comments
count  362.000000  362.000000
mean   288.229282   17.383978
std    147.604341   12.479304
min     -1.000000   -1.000000
25%    172.750000    8.000000
50%    295.500000   14.000000
75%    399.000000   26.000000
max    533.000000   54.000000

#### Customer Reach Comparison between "WorldNews" and "WorldWeather"

In [12]:
reach_df = channels_df.groupby('Channel').describe()
reach_df

             Comments                                                    \
                count       mean        std  min  25%   50%   75%   max
Channel
WorldNews       181.0  16.182320  11.131283 -1.0  7.0  13.0  24.0  54.0
WorldWeather    181.0  18.585635  13.620638 -1.0  8.0  15.0  28.0  53.0

              Views
              count        mean         std  min    25%    50%    75%    max
Channel
WorldNews     181.0  288.348066  151.969936 -1.0  154.0  294.0  405.0  533.0
WorldWeather  181.0  288.110497  143.527810 -1.0  180.0  296.0  394.0  532.0

You can notice that it's a MultiIndex DataFrame.

In [29]:
channels2 = []

views_reach_data2, comments_reach_data2 = [], []
views_mean2, comments_mean2 = [], []

for channel, new_df in reach_df.groupby(level=0):
    if not channel in channels2: 
        channels2.append(channel)
    
    for col in new_df.columns:
        new_col = new_df[col]
        print(type(new_col[channel]))

<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

In [13]:
channels = []

views_reach_data, comments_reach_data = [], []
views_mean, comments_mean = [], []

# MultiIndex DataFrame Iteration
for channel, new_df in reach_df.groupby(level=0):
    if not channel in channels: 
        channels.append(channel)
    
    for col in new_df.columns:
        new_col = new_df[col][channel]
        x_label = channel
        
        # using the Box method of Plotly's graph objects
        box = go.Box(y=[new_col['min'], new_col['max']], name=x_label)
        
        # to prepare two different plots for each section ('views', 'comments')
        if (col == 'Views'):
            views_reach_data.append(box)
            views_mean.append(new_col['mean'])
        elif (col == 'Comments'):
            comments_reach_data.append(box)
            comments_mean.append(new_col['mean'])

IndexError: invalid index to scalar variable.

In [ ]:
# add lines for 'mean' value of 'views'
views_reach_data.append(go.Scatter(x=channels, y=views_mean, mode='lines', name='mean'))

py.iplot({
        'data': views_reach_data,
        'layout': {
            'title': 'Views Comparison',
            'xaxis': {'title': 'Channels'},
            'yaxis': {'title': 'Views'}
        }
})

In [ ]:
# add lines for 'mean' values of 'comments'
comments_reach_data.append(go.Scatter(x=channels, y=comments_mean, mode='lines', name='mean'))

py.iplot({
        'data': comments_reach_data,
        'layout': {
            'title': 'Comments Comparison',
            'xaxis': {'title': 'Channels'},
            'yaxis': {'title': 'Comments'}
}})

We can replace the missing data values **(-1)** with **NaN** for some statistical ease.

In [ ]:
channels_df = channels_df.replace(-1, np.nan)

`head` method select top 5 row for the dataframe. (`tail` method will return last 5 rows)

In [ ]:
channels_df.head()

Select rows only for the 'WorldNews' channel.

In [ ]:
worldnews_df = channels_df[channels_df['Channel'] == 'WorldNews']

Select some sample rows from the new dataframe.

In [ ]:
worldnews_df.sample(3)

Filter out the rows for 'WorldNews' channel having less than 100 views.

In [ ]:
worldnews_less_views_df = worldnews_df[worldnews_df['Views'] < 100]

Count the days when 'WorldNews' has received less than 100 views.

In [ ]:
worldnews_less_views_df.size

### Indexing

To get and set subsets of data object, Pandas supports 3 types of multi-axis indexing.

* **loc**
    * It is based on the index *labels*.
* **iloc**
    * It is based on the index *positions*, only integer values are accepted.
* **ix**
    * Generally it behaves like **loc** but falls back to **iloc** when the label is not present in the index.

In our dataset the index contains only integer values, so all these methods will work similarly.

**Note:- The DataFrame *worldnews_df* contains only even integers in the index.**

In [ ]:
worldnews_df.index

**Selection By Label**

In the **label based indexing**, it follows **strict inclusion**. For example **[10:14]** will look for every value in between 10 and 14 including both. **At least 1** labels should be present in the index, otherwise a **KerError** will be raised.

This will return the top **3** rows having index as 0, 2, and 4; Because it looks at the labels.

In [ ]:
worldnews_df.loc[0:4]

**Selection By Position**

In the **integer based indexing**, it follows **0-based** slicing similar to Python lists that you are used to. Where the starting bound is included but the upper bound is excluded. Using a non-integer, even a valid label will raise a **IndexError**.

Hence, this will return the top **4** rows, Because it looks at the positions.

In [ ]:
worldnews_df.iloc[0:4]

This will work like **loc** because the index contains integer values.

In [ ]:
worldnews_df.ix[0:4]

### Grouping, Aggregating, and Pivoting data

**Grouping**

We can group (combine) the dataset based on certain parameters. For example, here we are grouping the 'WorldNews' dataset based on their 'Anchor' columns.

In [ ]:
worldnews_anchors_group = worldnews_df.groupby(worldnews_df['Anchor'])

This will return a **DataFrameGroupBy** object.

In [ ]:
type(worldnews_anchors_group)

**Aggregating**

Aggregating the resultant group will count the respective 'Views' and 'Columns' for each anchor.

In [ ]:
worldnews_anchors_group.aggregate(np.sum)

#### Views and Comments Share per Anchor

In [ ]:
# we take the aggregation information as a DataFrame
share_df = worldnews_anchors_group.aggregate(np.sum)
anchors = share_df.index

# for each sections ('views', 'comments') update the data accordingly
share_data = [
    {
        'values': share_df['Views'],
        'labels': anchors,
        'domain': {'x': [0, .48]},
        'name': 'Views',
        'hoverinfo': 'label+value+name',
        'hole': 0.4,
        'type': 'pie'
    },
    {
        'values': share_df['Comments'],
        'labels': anchors,
        'domain': {'x': [0.52, 1]},
        'name': 'Comments',
        'hoverinfo': 'label+value+name',
        'hole': 0.4,
        'type': 'pie'
    }
]

layout = {
    'title': 'Views and Comments Share per Anchor [WorldNews]',
    'annotations': [
        {
            'text': 'Views',
            'font': {'size': 15},
            'x': 0.21,
            'y': 0.5,
            'showarrow': False
        },
        {
            'text': 'Comments',
            'font': {'size': 15},
            'x': 0.81,
            'y': 0.5,
            'showarrow': False
        }
    ]
}

py.iplot({'data': share_data, 'layout': layout})

**Pivoting**

Using the pivot function, we can generate a new table from the original one.

It takes three arguments, that decides the **index**, **columns**, and **cell values** of the new table we want.

Consider this sample table for example.

In [ ]:
worldnews_df.sample(10)

In [ ]:
worldnews_df.groupby(['Anchor', 'Date']).sum()

We can try reshaping this table to find out how many 'Views' each anchor has received.

So we will create a new table whose 'index' is 'Date', 'columns' will be different values of 'Anchor column'.

The cell values will be the respective value of the 'Views' column.

In [ ]:
worldnews_pivoted_df = worldnews_df.pivot(index='Date', columns='Anchor', values='Views')
worldnews_pivoted_df.sample(10)

This is our derived table, you can see how many views different anchors have received.

Similarly you can reshape your tables according to your usecase.

### Interpolation

Sometimes your dataset has missing values in it.Pandas provide the **interpolate** function to insert data between fixed points. It uses different methods to regularize the missing values, by default it uses **linear interpolation** for the same.

We can count the absent values (**NaN**) using the **isnull** method.

In [ ]:
worldnews_df.isnull().sum()

Now let's interpolate the Series object.

In [ ]:
worldnews_interpolated_df = worldnews_df.interpolate()

After interpolation, we can see that there are no more **NaN** values.

In [ ]:
worldnews_interpolated_df.isnull().sum()

### Joining data

Pandas provides multiple methods to easily combine DataFrame and Series objects, like we see in SQL's join operations.

Consider these two small DataFrames.

In [ ]:
Adf = worldnews_df.iloc[3:8]
Bdf = channels_df[channels_df['Channel'] == 'WorldWeather'].iloc[5:10]

In [ ]:
Adf

In [ ]:
Bdf

**Concat**

This function performs the concatenation operation along a given axis. *axis=0* means the operation will be performed along the *rows*, and for *axis=1* it will be along columns. (By default, it's acted along *rows*, ie *axis=0*.)

In [ ]:
pd.concat([Adf, Bdf])

In [ ]:
pd.concat([Adf, Bdf], axis=1)

**Join**

Pandas provides a single function, **merge**, for all standard join operations between DataFrame objects. We will look the basic arguments for this function.

```python
merge(left, right, how='inner', on=None)
```

* **left** - A DataFrame object
* **right** - Another DataFrame to combine with.
* **how** - Type of join operation, defaults to *inner*. Can be one of *left*, *right*, *inner*, and *outer*.
* **on** - Columns names on which the join operation will be performed. Must be available in both the left and right DataFrame.

**Inner Join**

By default, **join** operates like the **inner join** of SQL. Here, we are performing the join on the 'Date' column.
Uses intersection of keys from both the DataFrames.

We will get 3 rows because in the 'Date' columns there are only three matches.

In [ ]:
pd.merge(Adf, Bdf, on='Date')

**Left Outer Join**

Uses the keys from left DataFrame only.

```python
how='left'
```

We can see that for the 'Date' values '2015-01-04' and '2015-01-05', there is not any corresponding matches **(NaN)** in the right DataFrame.

Because these rows are not present in the right DataFrame, **Bdf**.

In [ ]:
pd.merge(Adf, Bdf, how='left', on='Date')

**Right Outer Join**

Uses the keys from right DataFrame only.

```python
how='right'
```

In [ ]:
pd.merge(Adf, Bdf, how='right', on='Date')

** Full Outer Join**

Uses the intersection of keys from both DataFrames.

```python
how='outer'
```

In [ ]:
pd.merge(Adf, Bdf, how='outer', on='Date')

### Cleaning Data: Dates, Strings, and Formatting

We want our data to be in the cleanest form, so that we can use it further. For this, we need to get it in the desired structure, that's called cleaning the data.

** Numerical Formatting**

Remember the interpolated DataFrame result? You can notice that the resultant values are **Float64** type.

Some of the values are like 11.5, 7.5 etc.

In [ ]:
type(worldnews_interpolated_df['Comments'][0])

As we know that 'Views' or 'Comments' should be a perfect number by definition. We can format them by applying the ceil function on the 'Comments' column.

In [ ]:
worldnews_interpolated_df['Comments'] = worldnews_interpolated_df['Comments'].apply(np.ceil)

That will map a number to the smallest integer greater than or equal to it.

**Dates Formatting**

We can see that the Series objects in the column 'Date' are 'str' types.

In [ ]:
type(worldnews_df['Date'][0])

We can use the **to_datetime** function to convert them into 'Timestamp' type. The 'format' argument can be used to define the format of date in the 'Series', '2015-01-01' matches with '%Y-%m-%d'.

This can be used to timestamp related calculations.

In [ ]:
worldnews_df.loc[:, 'Date'] = pd.to_datetime(worldnews_df['Date'], format="%Y-%m-%d")

In [ ]:
type(worldnews_df['Date'][0])

Pandas also provides functinoality equivalent to "datetime.timedelta", which is called "Timedelta".

In [ ]:
time_a = worldnews_df['Date'][0]
time_b = worldnews_df['Date'][2]

time_diff = time_b - time_a
type(time_diff)

We can collect different components of "Timedelta" object like "days", "hours", "minutes" etc.

In [ ]:
time_diff.components

** String Formatting**

Pandas provide you a lot of [string formatting](http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling) methods. You can count the occurence of a particular pattern in a column.

In [ ]:
worldnews_df['Anchor'].str.count('jenn').sum()

Using the **unique** method you can check that different values in a column.

You can observe that the name of 'Anchor' is in smallcase.

In [ ]:
worldnews_df['Anchor'].unique()

Using the **capitalize** method, we can format the string values. There are other methods such as **upper**, **lower** etc.

In [ ]:
worldnews_df['Anchor'].str.capitalize().unique()

Now suppose that there was a problem in data collection, the name of an anchor was "Matt" instead of "Bob".

We do have a method for this situation too, **replace**. Taking arguments as the "pattern" and "expected replacing string".

In [ ]:
worldnews_df['Anchor'].apply(lambda s: s.replace('bob', 'matt')).unique()

In [ ]:
from IPython.display import display, HTML

display(HTML('<link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700rel="stylesheet" type="text/css" />'))
display(HTML('<link rel="stylesheet" type="text/csshref="http://help.plot.ly/documentation/all_static/css/ipython-notebook-custom.css">'))

! pip install git+https://github.com/plotly/publisher.git --upgrade

import publisher
publisher.publish(
    'Pandas-101.ipynb', '/pandas/intro-to-pandas-tutorial/', 'Pandas 101 | plotly',
    'How to use Pandas, the Python data analysis tools, to manipulate and analyse data in plotly.',
    title = 'Pandas 101 | plotly',
    name = 'Pandas 101',
    has_thumbnail='false',
    language='pandas')